<!-- Regresar a productos-->
<div class="card-header">
  <span class="btn-return" (click)="redirect(['producto'])">
      <i class="ph ph-arrow-circle-left icon-text-button"></i>
      Regresar
  </span>
</div>

<br>

<div class="card-body">
  <div class="row">

      <!-- Product image  -->

      <div class="col-md-4">
        <div class="card">
            <div *ngIf="productImgs.length > 1" id="carouselExampleIndicators" class="carousel slide"
                data-bs-ride="true">
                <div class="carousel-indicators">
                    <button *ngFor="let item of productImgs; let i = index" type="button" class="indicator"
                        data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                        [class.active]="i === 0" [attr.aria-current]="i === 0"
                        [attr.aria-label]="'Slide ' + i"></button>
                </div>
                <div class="carousel-inner">
                    <div *ngFor="let prod of productImgs; let i = index" class="carousel-item"
                        [class.active]="i === 0">
                        <div class="carousel-del">
                            <a (click)="deleteProductImage(prod.product_image_id)" class="btn btn-danger button-trash"><i class="ph ph-trash"></i></a>
                        </div>
                        <img src="{{ prod.image !== '' ? prod.image : imageDefault}}"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div *ngIf="productImgs.length <= 1" id="carouselExampleIndicators" class="carousel slide"
                data-ride="carousel">                       
                <div class="carousel-inner">
                    <div *ngIf="productImgs.length == 0" class="carousel-item active">
                        <img src="{{ imageDefault }}" class="d-block w-100" alt="...">
                    </div>
                    <div *ngFor="let prod of productImgs" class="carousel-item active">
                        <div class="carousel-del">
                            <a (click)="deleteProductImage(prod.product_image_id)" class="btn btn-danger"><i class="ph ph-trash"></i></a>
                        </div>
                        <img src="{{ prod.image !== '' ? prod.image : imageDefault}}"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
    
    <!-- Boton para editar  -->

    <div class="edit-product-image text-center">
        <label for="uploadImage" class="cursor-pointer btn btn-primary">
            <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
            <i class="ph ph-note-pencil icon-text-button"></i>
            Agregar imagen
        </label>
    </div>
        </div>
      </div>

      <!-- Product data  -->

      <div class="col-md-8">
          <div class="card">
              <div class="card-body-customer">

                  <!-- name  -->

                  <div class="product-title">
                      {{ product.product }}
                  </div>

                  <table class="table">
                      <tbody>

                          <!-- id  -->
                          <tr>
                              <th class="col-md-4">Id</th>
                              <td>{{ product.product_id}}</td>
                          </tr>

                          <!-- gtin  -->
                          <tr>
                              <th class="col-md-4">Gtin</th>
                              <td>{{ product.gtin }}</td>
                          </tr>

                          <!-- descripcion  -->
                          <tr>
                              <th class="col-md-4">Descripcion</th>
                              <td>{{ product.description }}</td>
                          </tr>

                          <!-- precio  -->
                          <tr>
                              <th class="col-md-4">Precio</th>
                              <td>{{ product.price }}</td>
                          </tr>

                           <!-- stock  -->
                           <tr>
                            <th class="col-md-4">Stock</th>
                            <td>{{ product.stock }}</td>
                        </tr>

                          <!-- Categoria  -->
                          <tr>
                            <th class="col-md-4">Categoria</th>
                            <td>{{ product.category_id }}</td>
                        </tr>

                          <!-- Estatus -->
                          <tr>
                            <th class="col-md-4">Estatus</th>
                            <td>{{ product.status }}</td>
                        </tr>
                      </tbody>
                  </table>

                  <!-- botones  -->

                  <!-- <button type="button" class="btn btn-primary btn-edith" (click)="updateCustomer()"> -->
                  <button type="button" class="btn btn-primary btn-edith" (click)="updateProduct()">
                      <i class="ph ph-note-pencil"></i>
                      Editar
                  </button>

                  <button type="button" class="btn btn-danger btn-edith">
                      <i class="ph ph-trash"></i>
                      Eliminar
                  </button>
              </div>
          </div>
      </div>

  </div>
</div>

<!-- Modal para editar producto -->
<div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Editar producto</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
          </button>
        </div>

    <div class="modal-body">

    <!-- form  -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="row">

          <!-- campo para gtin  -->

          <div class="col-md-6">
              <div class="form-group">
                  <label for="gtin">GTIN <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control form-edit" formControlName="gtin" id="gtin" placeholder="GTIN del producto..."
                      [ngClass]="{'is-invalid': form.controls['gtin'].errors && submitted}" >
                  <div *ngIf="form.controls['gtin'].errors && submitted">
                      <small class="text-danger">Favor de ingresar un GTIN válido</small>
                  </div>
              </div>
          </div>

          <!-- campo para producto  -->

          <div class="col-md-6">
              <div class="form-group">
              <label for="product">Producto <span class="text-danger">*</span> </label>
              <input type="text" class="form-control form-edit" formControlName="product" id="product" placeholder="Nombre del producto..."
                  [ngClass]="{'is-invalid': form.controls['product'].errors && submitted}" >
              <div *ngIf="form.controls['product'].errors && submitted">
                  <small class="text-danger">Favor de ingresar un nombre válido para el producto</small>
              </div>
              </div>
          </div>

          <br><br><br>

          <!-- campo para el precio  -->

          <div class="col-md-6">
              <div class="form-group">
              <label for="price">Precio <span class="text-danger">*</span> </label>
              <input type="text" class="form-control form-edit" formControlName="price" id="price" placeholder="Precio del producto..."
                  [ngClass]="{'is-invalid': form.controls['price'].errors && submitted}" >
              <div *ngIf="form.controls['price'].errors && submitted">
                  <small class="text-danger">Favor de ingresar un precio válido</small>
              </div>
              </div>
          </div>

          <br>

          <!-- campo para el stock  -->

          <div class="col-md-6">
              <div class="form-group">
              <label for="stock">Cantidad de unidades disponibles <span class="text-danger">*</span> </label>
              <input type="text" class="form-control form-edit" formControlName="stock" id="stock" placeholder="Unidades disponibles..."
                  [ngClass]="{'is-invalid': form.controls['stock'].errors && submitted}" >
              <div *ngIf="form.controls['stock'].errors && submitted">
                  <small class="text-danger">Favor de ingresar una cantidad de productos válida</small>
              </div>
              </div>
          </div>

          <br><br><br>

          <!-- campo para el id de la categoria  -->

          <div class="col-md-6">
              <div class="form-group">
                <label for="category_id">Categoría <span class="text-danger">*</span> </label>
                <select class="form-select form-edit" formControlName="category_id" id="category_id"
                    [ngClass]="{'is-invalid': form.controls['category_id'].errors && submitted}">
                    <option [ngValue]=null hidden>Seleccione una categoría</option>
                    <ng-container *ngFor="let category of categories" >
                        <option *ngIf="category.status == 1" [ngValue]="category.category_id">{{ category.category }}</option>
                    </ng-container>
                </select>
                <div *ngIf="form.controls['category_id'].errors && submitted">
                    <small class="text-danger">Seleccione una categoría</small>
                </div>
              </div>
          </div>

          <br><br><br>

          <!-- campo para la descripcion  -->

          <div class="form-group">
            <label for="description">Descripción <span class="text-danger">*</span> </label>
            <textarea rows="2" class="form-control form-edit" formControlName="description" id="description" placeholder="Descripción del producto..."
              [ngClass]="{'is-invalid': form.controls['description'].errors && submitted}" >
            </textarea>
            <div *ngIf="form.controls['description'].errors && submitted">
              <small class="text-danger">Favor de ingresar una descripción válida</small>
            </div>
          </div>
      </div>

      <br>

      <!-- Boton de guardado  -->
      <div class="form-button">
          <button type="submit" class="btn btn-form">Guardar cambios</button>
      </div>

    </form>

  </div>

</div>

</div>

<!-- product image  -->
<!--
<div class="col-md-4">
    <div class="card">
        <div *ngIf="productImgs.length > 1" id="carouselExampleIndicators" class="carousel slide"
            data-bs-ride="true">
            <div class="carousel-indicators">
                <button *ngFor="let item of productImgs; let i = index" type="button" class="indicator"
                    data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                    [class.active]="i === 0" [attr.aria-current]="i === 0"
                    [attr.aria-label]="'Slide ' + i"></button>
            </div>
            <div class="carousel-inner">
                <div *ngFor="let prod of productImgs; let i = index" class="carousel-item"
                    [class.active]="i === 0">
                    <div class="carousel-del">
                        <a (click)="deleteProductImage(prod.product_image_id)" class="trash"><i class="fas fa-trash-alt cursor-pointer"></i></a>
                    </div>
                    <img src="{{ prod.image !== '' ? prod.image : imageDefault}}"
                        class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div *ngIf="productImgs.length <= 1" id="carouselExampleIndicators" class="carousel slide"
            data-ride="carousel">                       
            <div class="carousel-inner">
                <div *ngIf="productImgs.length == 0" class="carousel-item active">
                    <img src="{{ imageDefault }}" class="d-block w-100" alt="...">
                </div>
                <div *ngFor="let prod of productImgs" class="carousel-item active">
                    <div class="carousel-del">
                        <a (click)="deleteProductImage(prod.product_image_id)" class="trash"><i class="fas fa-trash-alt cursor-pointer"></i></a>
                    </div>
                    <img src="{{ prod.image !== '' ? prod.image : imageDefault }}"
                        class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="edit-product-image text-center">
            <label for="uploadImage" class="cursor-pointer">
                <input type="file" (change)="fileChangeHandler($event)" id="uploadImage"
                    style="display:none">
                <i class="ph ph-note-pencil icon-text-button"></i>
                <p class="item-txt"> Editar imagen </p>
            </label>
        </div>
    </div>
</div>-->