.card-body{
    margin: 12px;
    padding: 12px;
}

.main-container{
    display: flex;
    gap: 12px;
}

.products-container{
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vaciar-carrito{
    display: flex;
    justify-content: flex-end;
}

th, td {
    vertical-align: middle;
}

.product-name{
    margin-left: 24px;
}

.image-product{
    width: 120px;
}

.total-information{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 12px 12px 12px 12px;
    min-width: 320px;
    height: 100%;
    font-size: 14px;
}

.total-information div {
    display: flex;
    justify-content: space-between;
}

.total-information div p {
    margin: 0px;
    padding: 0px;
}

.total-information button {
    margin-top: 12px;
    width: 100%;
}

.total {
    color: red;
}

.no-products{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0px 100px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


