<div class="card-body">
    <h1>Mi Carrito</h1>
    @if(products.length > 0){
        <div class="main-container">
            <!--Productos-->
            <div class="products-container">            
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Mas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(product of products; track product){
                            <tr>
                                <td><img class="image-product" src="{{ product.image !== '' ? product.image : imageDefault }}" alt="imagen producto"> <span class="product-name" >{{ product.product.product }}</span></td>
                                <td>{{ priceFormat(product.product.price) }}</td>
                                <td>
                                    {{ product.quantity }}
                                </td>
                                <td class="total">{{ priceFormat(product.product.price * product.quantity) }}</td>
                                <td><button class="btn btn-danger"><i class="ph ph-trash" (click)="removeFromCart(product.cart_id)"></i></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr>
                @if(products.length >= 2){
                    <div class="vaciar-carrito">
                        <button class="btn btn-danger" (click)="clearCart()">
                            <i class="ph ph-trash"></i>
                            Vaciar carrito
                        </button>
                    </div> 
                }           
            </div>
            <!--Total-->
            <div class="total-information">
                <div>
                    <p class="subtotal">Subtotal ({{ products.length }} productos): </p>
                    <p>{{ priceFormat(total) }}</p>
                </div>
                <div>
                    <p>Descuento:</p>
                    <p>$0.00</p>
                </div>
                <div>
                    <p>Cupones:</p>
                    <p>$0.00</p>
                </div>    
                <div>
                    <p>Costo de envio:</p>
                    <p>Gratis</p>
                </div>            
                <hr>
                <div>
                    <p>Total (IVA incluido):</p>
                    <p class="total">{{ priceFormat(total)}}</p>
                </div>
                <button class="btn btn-warning" (click)="click()">Proceder al pago</button>
            </div>
        </div>
    }@else{
        <div class="no-products">
            <h4>No hay productos en tu carrito</h4>
        </div>
    }
</div>