@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

header .overlay{
    position: absolute;
    z-index: 1;
    height: 100vh;
    padding: 40px;
    pointer-events: none;
    width: 100%;
}

.overlay-text{
    float: right;
    text-align: center;
    animation: fade 1s ease-in;
}


@keyframes fade {
    0% { opacity: 0;}
    100% {opacity: 1;}
}


.begin-button{
    padding: 10px 30px;
    color: #252525;
    border: 3px solid #252525;
    border-radius: 0px;
    font-weight: 400;
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
    pointer-events: all;
}

.begin-button:hover{
    background-color: #252525;
    color: #fff;
}

.title{
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    color: #252525;
}

.subtitle{
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    color: #252525;
}

header.masthead .masthead-subheading {
font-size: 1.5rem;
font-style: italic;
line-height: 1.5rem;
margin-bottom: 25px;
font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
font-size: 3.25rem;
font-weight: 700;
line-height: 3.25rem;
margin-bottom: 2rem;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.btn-xl {
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}

.food-text{
    position: absolute;
    padding: 24px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    float: left;
    z-index: 1;
    font-weight: bold;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10%;
    color: #E4B03C;
    border: 4px solid #E4B03C;
    border-radius: 24px;
}

.food-text button{
    padding: 0.8rem 1.5rem;
    color: #E4B03C;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 12px;
    margin-top: 24px;
    background-color: #241a1a;
    border: 2px solid #E4B03C;
}

.food-text button:hover{
    background-color: #E4B03C;
    color: #252525;
    border: 2px solid #252525;
}

.mobile-icons-container{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.mobile-icon{
    fill: #E4B03C;
    width: 24px;
}

/** Services */
.page-section {
    padding: 6rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
font-size: 2.5rem;
margin-top: 0;
margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
font-size: 1rem;
font-weight: 400;
font-style: italic;
font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin-bottom: 4rem;
}

.service-icon{
    fill: #efb73e;
}