<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Titulo de la pestaña del navegador-->
    <title>Categorías</title>
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Vapor-->
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <!--Contenido de la pagina-->
    <div class="body-content">
        <!--Titulo de la vista-->
        <h1>Categorías</h1>
        <div class="card border-primary mb-3">
            <!--Card Header-->
            <div class="card-header"></div>
            <!--Card Body-->
            <div class="card-body">
                <!--Card Title-->
                <h4 class="card-title">Categorías</h4>
                <!--Tabla-->
                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">category_id</th>
                            <th scope="col">acronym</th>
                            <th scope="col">category</th>
                            <th scope="col">status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>TCP</td>
                            <td>Transmission Control Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>IP</td>
                            <td>Internet Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>FTP</td>
                            <td>File Transfer Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>HTTP</td>
                            <td>Hypertext Transfer Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>SMTP</td>
                            <td>Simple Mail Transfer Protocol</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
