   <!--Contenido de la pagina-->
    <div class="body-content">
        <!--Titulo de la vista-->
        <h1>Categorías</h1>
        <div class="card border-warning mb-3">
            <!--Card Header-->
            <div class="card-header"></div>
            <!--Card Body-->
            <div class="card-body">
                <!--Card Title-->
                <h4 class="card-title">Categorías</h4>
                <!--Tabla-->
                <table class="table table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">category_id</th>
                            <th scope="col">acronym</th>
                            <th scope="col">category</th>
                            <th scope="col">status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>TCP</td>
                            <td>Transmission Control Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>IP</td>
                            <td>Internet Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>FTP</td>
                            <td>File Transfer Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>HTTP</td>
                            <td>Hypertext Transfer Protocol</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>SMTP</td>
                            <td>Simple Mail Transfer Protocol</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
