   <!--Contenido de la pagina-->
    <div class="body-content">
    <!--Titulo de la vista-->
    <h1>Categorías</h1>
    <div class="card border-warning mb-3">
        <!--Card Header-->
        <div class="card-header"></div>
        <!--Card Body-->
        <div class="card-body">
            <!--Card Title-->
            <h4 class="card-title">Categorías</h4>
            <!--Tabla-->

            <button type="button" class="btn btn-primary" style="float: right;" (click)="showModalForm()">
                Nueva categoría
            </button>
            

            <table class="table table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Acrónimo</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    @for(categoria of categories; track categoria) {
                        <tr>
                            <td> {{ categoria.category_id }} </td>
                            <td> {{ categoria.category }} </td>
                            <td> {{ categoria.acronym }} </td>
                            <td> {{ categoria.status }} </td>
                        </tr>
                    }            
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>    
    </div>

