.container{   
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.content{
    padding: 24px;
}

h2{
    padding-bottom: 24px;
}

.btn{
    width: 100%;
}

label{
    font-size: small;
}

.input-container{
    display: flex;
}

.valid-feed{
    font-size: small;
    color: #38b44a;
}

.icon{
    height: 100%;
}