<div class="container">    
    <div>        
        <div class="card border-dark mb-3 content">                    
            <div class="d-flex justify-content-center form_container">                
                <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                    <h2>Crear cuenta</h2>
                    <!--Nombres-->
                    <label for="name">Nombre(s)</label>
                    <div class="input-container">
                        <span class="input-group-text icon"><fa-icon [icon]="userIcon"></fa-icon></span>
                        <div class="has-danger">
                            <input 
                                type="text" 
                                formControlName="name" 
                                placeholder="Nombre(s)"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['name'].errors && formRegister.controls['name'].touched
                                }"
                            >
                            <div class="invalid-feedback">Ingresa un nombre valido</div>
                        </div>
                    </div>                                                       
                           
                    <!--Apellidos-->
                    <label for="surname">Apellidos</label>
                    <div class="input-container">
                        <span class="input-group-text icon"><fa-icon [icon]="surnameIcon"></fa-icon></span>
                        <div class="has-danger">                                
                            <input 
                                type="text" 
                                id="surname" 
                                formControlName="surname" 
                                placeholder="Apellido(s)"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['surname'].errors && formRegister.controls['surname'].touched
                                }"
                            >
                            <div class="invalid-feedback" >Ingresa apellidos validos</div>
                        </div>
                    </div>                        

                    <!--Direccion-->
                    <label for="address">Dirección</label>
                    <div class="input-container">
                        <span class="input-group-text icon"><fa-icon [icon]="addressIcon"></fa-icon></span>
                        <div class="has-danger">
                            <input 
                                type="text" 
                                id="address" 
                                formControlName="address" 
                                placeholder="Dirección"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['address'].errors && formRegister.controls['address'].touched
                                }"
                            >
                            <div class="invalid-feedback">Ingresa una dirección</div>
                        </div>
                    </div>                        
                    
                    <!--Email-->
                    <label for="mail">Email</label>
                    <div class="input-container">
                        <span class="input-group-text icon"><fa-icon [icon]="mailIcon"></fa-icon></span>
                        <div class="has-danger">
                            <input 
                                type="mail" 
                                id="mail" 
                                formControlName="mail" 
                                placeholder="Email"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['mail'].errors && formRegister.controls['mail'].touched
                                }"
                            >
                            <div class="invalid-feedback">Ingresa un correo valido</div>
                        </div>
                    </div>                        

                    <!--Username-->
                    <label for="username">Username</label>
                    <div class="input-container">
                        <span class="input-group-text icon"><fa-icon [icon]="usernameIcon"></fa-icon></span>
                        <div class="has-danger">
                            <input 
                                type="text" 
                                id="username" 
                                formControlName="username" 
                                placeholder="Username"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['username'].errors && formRegister.controls['username'].touched
                                }"
                            >
                            <div class="invalid-feedback">Ingresa un nombre de usuario</div>
                        </div>
                    </div>                        

                    <!--Contraseña-->
                    <label for="password">Contraseña</label>
                    <div class="input-container">
                        <span class="input-group-text icon"><fa-icon [icon]="passwordIcon"></fa-icon></span>
                        <div class="has-danger">
                            <input 
                                type="password" 
                                id="password" 
                                formControlName="password" 
                                placeholder="Contraseña"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['password'].errors && formRegister.controls['password'].touched
                                }"
                            >
                            <div class="invalid-feedback">Ingresa una contraseña</div>
                        </div>                        
                    </div>                        
   
                    <!--Region-->
                    <label for="region">Region</label>
                    <div class="input-container">
                        <span class="input-group-text icon"><fa-icon [icon]="regionIcon"></fa-icon></span>
                        <div class="has-danger">
                            <input 
                                type="number" 
                                id="region_id" 
                                formControlName="region_id" 
                                placeholder="Region"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['region_id'].errors && formRegister.controls['region_id'].touched
                                }"
                            >
                            <div class="invalid-feedback">Ingresa una region</div>
                        </div>
                    </div>                        

                    <!--RFC-->
                    <label for="rfc">RFC</label>
                    <div class="input-container mb-3">
                        <span class="input-group-text icon"><fa-icon [icon]="rfcIcon"></fa-icon></span>
                        <div class="has-danger">
                            <input 
                                type="text" 
                                id="rfc" 
                                formControlName="rfc" 
                                placeholder="RFC"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': formRegister.controls['rfc'].errors && formRegister.controls['rfc'].touched
                                }"
                            >
                            <div class="invalid-feedback">Ingresa un RFC valido</div>
                        </div>                        
                    </div>                        
                 
                    <button type="submit" class="btn btn-warning" [disabled]="formRegister.invalid">Enviar</button>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    ¿Ya tienes una cuenta?&nbsp;<a routerLink="/login" class="ml-2" style="color: #2C3E50;">Inicia Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>