.bar-search-container{
    width: 100%;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.form-select{
    width: 232px;
}

.image-not-found-container{
    display: flex;
    justify-content: center;
}

h3{
    text-align: center;
}

