<!-- Section-->
<section class="py-5">    
    <div class="container px-4 px-lg-5 mt-5">
        <form class="d-flex bar-search-container" (ngSubmit)="searchProduct()">
            <select class="form-select form-select-sm" aria-label="Default select example" [(ngModel)]="selectQuery" (ngModelChange)="searchProductByCategory()" name="categoria">                
                <option selected [value]="-1">Todas las categorias</option>
                @for(categoria of categories; track categoria){
                    <option [value]="categoria.category_id">{{ categoria.category }}</option>
                }
            </select>
            <input class="form-control me-sm-2 bar-search" type="search" placeholder="Buscar Store.com" [(ngModel)]="searchQuery" (ngModelChange)="searchProduct()" name="busqueda">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Buscar</button>            
        </form>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @for(product of productsFound; track product){
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.image !== undefined ? product.image.image : logo }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.product }}</h5>
                                <!-- Product price-->
                                $ {{ product.price }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="showProduct(product.gtin)">Ver detalles</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>